.cardContainer{
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  .card{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    width: 1200px;
    height: 90vh;
    border-radius: 25px;
    padding: 40px 40px;
    transform-origin: top;
    cursor: pointer;
    .arrowIcons{
      font-size: 6vh;
      padding-top: 6px;
      transition: transform 0.3s ease;
      color: #ffff;
    }
    .body{
      display: flex;
      height: 100%;
      gap: 50px;
      .imageContainer{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .inner{
          width: 100%;
          height: 100%;
        }
        img{
          object-fit: cover;
        }
      }
    }
  } 
  .card:hover{
    .arrowIcons{
      transition: transform 0.3s ease;
      transform: rotate(-45deg);
    }
  }
}