.slidingImages{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #141516;
    z-index: 1;
    .circleContainer{
        background-color: red;
        position: relative;
        margin-top: 100px;
        .circle{
            height: 1900%;
            width: 120%;
            left: -10%;
            border-radius: 0 0 50% 50%;
            background-color: #141516;
            z-index: 1;
            position: absolute;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px;
        }
    }
}